# 阿里云 DashScope API 密钥
DASHSCOPE_API_KEY=[Your_API_Key]
QWEN_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1

# 通用模型配置
QWEN_MODEL=[model_name]
QWEN_REASONING_MODEL=[model_name]
QWEN_MAX_TOKENS=[max_tokens]
QWEN_TEMPERATURE=[temperature]
QWEN_ENABLE_SEARCH=false
QWEN_ENABLE_REASONING=true


# RAG 知识库配置
RAG_EMBEDDING_MODEL=[embedding_model_name]
RAG_PERSIST_DIR=./data/vector_store
RAG_TOP_K=10

# 百度搜索
BAIDU_API_KEY=[Your_BAIDU_Search_Key]

#会话管理配置
MAX_SESSIONS=16
IDLE_TIMEOUT=30
SESSION_RETENTION=30
UPLOAD_RETENTION=7
OUTPUT_RETENTION=30
CLEANUP_INTERVAL=60